.Message {
    display: flex;
    justify-content: flex-start;
    background-color: #B2B1B9;
    width: 200px;
    margin: 10px;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.2);
    padding: 10px 20px;
    border-radius: 5px;
  
  }